.attendance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.attendance form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}

.attendance form input,
.attendance form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.attendance form button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

.attendance table {
    border-collapse: collapse;
}

.attendance table th,
.attendance table td {
    border: 1px solid #ddd;
    padding: 10px;
}