.sidebar{
    width: 30% !important;
    /* flex:1; */
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    background-color: rgb(29, 29, 40);;
    color: aliceblue;
}

.activeLink {
    color: #b8ee17; 
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    border-color: gray;
}

.sidebarWrapper{
    padding: 20px;
    
}
 .sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
 }
 .sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    justify-self: auto;
 }
 .sidebarIcon{
    margin-right: 15px;
 }

 .sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    background-color: #1775ee;
    color: rgb(243, 238, 238);
 }
 .sidebarHr{
    margin: 20px 0;
 }
 .sidebarBootomListItemText{
   font-weight: 300;
 }